:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --font-size: 1rem;
}

body {
  background-color: var(--yellow);
  font-size: var(--font-size);
  font-family: Figtree, sans-serif;
  font-weight: 600;
}

.container {
  background-color: var(--white);
  margin: 9.75rem 1.5rem;
  border-radius: 15px;
  padding: 0;
  border: 1px solid var(--black);
  box-shadow: 8px 8px var(--black);
  height: auto;
  width: auto;
}

.inner-container {
  margin: 0;
  padding: 1.5rem;
  height: auto;
  width: auto;
}

img.illustration {
  display: block;
  height: 50%;
  width: 100%;
  padding: 0;
  border-radius: 15px;
  object-fit: cover;
}

.blog-post{
  height: 50%;
  width:100%;

}
.attribution {
  font-size: 11px;
  text-align: center;
  > a {
    color: hsl(228, 45%, 44%);
  }
}
